{% extends 'main/base.html' %}

{% block content %}
<section class="myworks" style="padding:30px">
    <h2>My Works</h2>
    <hr>
    <div class="row">
        <div>
            <span>
                title1
            </span>
            <img src="https://www.w3schools.com/w3images/house5.jpg" alt="">
        </div>

        <div>
            <span>
                title1
            </span>
            <img src="https://www.w3schools.com/w3images/house5.jpg" alt="">
        </div>

        <div>
            <span>
                title1
            </span>
            <img src="https://www.w3schools.com/w3images/house5.jpg" alt="">
        </div>

        <div>
            <span>
                title1
            </span>
            <img src="https://www.w3schools.com/w3images/house5.jpg" alt="">
        </div>

           <div>
            <span>
                title1
            </span>
            <img src="https://www.w3schools.com/w3images/house5.jpg" alt="">
        </div>

        <div>
            <span>
                title1
            </span>
            <img src="https://www.w3schools.com/w3images/house5.jpg" alt="">
        </div>

        <div>
            <span>
                title1
            </span>
            <img src="https://www.w3schools.com/w3images/house5.jpg" alt="">
        </div>

        <div>
            <span>
                title1
            </span>
            <img src="https://www.w3schools.com/w3images/house5.jpg" alt="">
        </div>

    </div>
</section>


{% endblock %}