{% extends 'main/base.html' %}

{% block content %}
<div class="container">
<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password1" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword2" class="form-label">Rewrite password</label>
    <input type="password" name="password2" class="form-control" id="exampleInputPassword2">
  </div>
  <div class="alert alert-danger" role="alert">
  {{error}}
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}